Repository j1v37u2k3y/NeoSetup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, pylint, bandit, operator-validation

.pre-commit-config.yaml:

---
# Pre-commit hooks configuration for NeoSetup
# Automated validation for YAML, Ansible, security, and formatting

repos:
  # YAML Formatting and Validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [ --allow-multiple-documents ]
      - id: check-added-large-files
        args: [ '--maxkb=1000' ]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
        args: [ '--fix=lf' ]

  # YAML Linting with custom rules
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [ -c=.yamllint.yml ]

  # Ansible Validation
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: bash -c 'cd neosetup && ansible-lint --profile=basic .'
        language: system
        files: ^neosetup/.*\.(yaml|yml)$
        pass_filenames: false

  # Security Scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [ '--baseline', '.secrets.baseline' ]
        exclude: 'package\.lock\.json|\.github/workflows/docker-tests\.yml'

  # Python validation for scripts
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        files: \.py$

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        files: \.py$

      - id: bandit
        name: bandit security scan
        entry: bandit
        language: system
        files: \.py$
        args: [ '-r', '.' ]

      - id: safety
        name: safety dependency check
        entry: bash
        language: system
        args: [ '-c', 'safety check || echo "⚠️ Security vulnerabilities found - should be addressed"' ]
        pass_filenames: false

      - id: operator-validation
        name: NeoSetup operator validation
        entry: bash -c 'cd neosetup && python3 scripts/validate_operator.py --all'
        language: system
        files: ^neosetup/operators/.*\.yml$
        pass_filenames: false

  # Shell script validation
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
      - id: markdownlint
        args: [ '--fix', '--config', '.markdownlint.yml' ]
        files: \.md$

  # Git commit message validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [ commit-msg ]

# Global settings
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [ ]
  submodules: false

Some updates to the p10k term. Updates to make file and a few other changes.
  neosetup/Makefile
  neosetup/operators/go_dev/vars.yml
  neosetup/operators/nodejs_dev/vars.yml
  neosetup/playbooks/site.yml
  neosetup/roles/shell/tasks/configure_zsh.yml
  neosetup/roles/shell/tasks/main.yml
  neosetup/roles/shell/templates/p10k.zsh.j2
  neosetup/roles/shell/templates/shared/functions.j2
Due: ansible-lint, operator-validation

feat: align pre-commit with CI for strict enforcement
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .markdownlint.yml
  Dockerfile.precommit
  docs/README.md
  docs/architecture/operators.md
  docs/development/contributing.md
  docs/development/migration.md
  docs/development/operator-creation-guide.md
  docs/future/001-modular-architecture.md
  docs/future/002-operator-inheritance.md
  docs/future/operator-registry.md
  docs/guides/troubleshooting.md
  neosetup/Makefile
  neosetup/operators/go_dev/vars.yml
  neosetup/operators/nodejs_dev/vars.yml
  neosetup/roles/docker/tasks/main.yml
  requirements.txt
  scripts/run-precommit.sh
Due: ansible-lint, operator-validation

yaml lint issues.
  .pre-commit-config.yaml
Due: none

feat: align pre-commit with CI using Docker for all hooks
  .pre-commit-config.yaml
Due: none

feat: simplify Docker pre-commit to single container approach
  .markdownlint.yml
  .pre-commit-config.yaml
  Dockerfile.precommit
  docs/development/contributing.md
  requirements.txt
  scripts/install-git-hooks.sh
Due: none

refactor: simplify git hooks - use .githooks directory
  .githooks/pre-commit
  .pre-commit-config.yaml
  docs/development/contributing.md
  scripts/install-git-hooks.sh
Due: none

fix: CI markdown-quality uses pre-commit for version alignment
  .github/pull_request_template.md
  .github/workflows/ci.yml
Due: none

refactor: consolidate CI to use pre-commit for all linting
  .github/scripts/generate_test_summary.py
  .github/workflows/ci.yml
Due: pylint, bandit

fix: link checker config and test-summary failure propagation
  .github/markdown-link-check.json
  .github/workflows/ci.yml
Due: none

docs: remove TODO.md reference - issues now in GitHub
  docs/development/contributing.md
Due: none

docs: update all documentation for Docker pre-commit workflow
  .gitignore
  CLAUDE.md
  README.md
  TODO.md
  docs/development/migration.md
  docs/development/roadmap.md
  docs/future/001-modular-architecture.md
  docs/future/002-operator-inheritance.md
  docs/future/README.md
  docs/future/operator-registry.md
  docs/guides/installation.md
  docs/guides/troubleshooting.md
  neosetup/Makefile
Due: none

docs: clean up documentation structure
  docs/README.md
  docs/architecture/benefits-of-operators.md
Due: none

chore: add CODEOWNERS file
  .github/CODEOWNERS
Due: none

feat: expand Linux multi-distro container testing matrix
  .github/scripts/generate_dockerfile.py
  .github/workflows/container-tests.yml
Due: pylint, bandit

fix: resolve container test failures
  neosetup/ansible.cfg
  neosetup/roles/common/tasks/main.yml
Due: ansible-lint

fix: use standard ansible_* variables instead of ansible_facts.*
  neosetup/roles/common/tasks/main.yml
Due: ansible-lint

fix: add defaults for ansible_env.SHELL in shell role
  neosetup/roles/shell/tasks/configure_zsh.yml
  neosetup/roles/shell/tasks/main.yml
Due: ansible-lint

fix: limit workflow_run trigger to main/develop branches
  .github/workflows/container-tests.yml
Due: none

fix: RHEL container compatibility
  .github/scripts/generate_dockerfile.py
Due: pylint, bandit

feat: add Kali Linux and Parrot Security to container testing
  .github/scripts/generate_dockerfile.py
  .github/workflows/container-tests.yml
Due: pylint, bandit

fix: resolve RHEL and Parrot container test failures
  .github/scripts/generate_dockerfile.py
  .github/scripts/test_container.py
  .github/workflows/container-tests.yml
Due: pylint, bandit

fix: resolve RHEL package and Parrot disk space issues
  .github/scripts/generate_dockerfile.py
  .github/scripts/test_packages.py
Due: pylint, bandit

feat: add Matrix rain screensaver integration (#41)
  neosetup/operators/matrix/vars.yml
Due: ansible-lint, operator-validation

feat: add auto-generated TOOLS.md documentation
  TOOLS.md
  neosetup/roles/tools/vars/tool_registry.yml
  neosetup/scripts/generate_tools_doc.py
Due: ansible-lint, pylint, bandit

fix: remove branch filter from workflow_run trigger
  .github/workflows/container-tests.yml
Due: none

feat: add binary validation tests for operator tools
  .github/scripts/test_binary_validation.py
  .github/workflows/container-tests.yml
Due: pylint, bandit

docs: add container test matrix badges to README
  README.md
Due: none

fix: use venv Python for binary validation script
  .github/workflows/container-tests.yml
Due: none

feat: track Dockerfiles in git and fix binary validation
  .github/scripts/test_binary_validation.py
  .github/workflows/container-tests.yml
  docker/Dockerfile.almalinux-9
  docker/Dockerfile.centos-stream-9
  docker/Dockerfile.debian-12
  docker/Dockerfile.fedora-40
  docker/Dockerfile.kali-rolling
  docker/Dockerfile.parrot-security
  docker/Dockerfile.rocky-9
  docker/Dockerfile.ubuntu-22.04
  docker/Dockerfile.ubuntu-24.04
Due: pylint, bandit

refactor: remove obsolete dev-test Dockerfiles, update develop script
  develop
  neosetup/Dockerfile.dev-test-rocky-9
  neosetup/Dockerfile.dev-test-ubuntu-22.04
Due: none

feat: add animated Matrix-themed ASCII art improvements
  Dockerfile.precommit
  neosetup/roles/shell/templates/matrix_greeting.sh.j2
  neosetup/roles/shell/templates/shared/functions.j2
Due: none

feat: add date and year to p10k time format
  neosetup/roles/shell/templates/p10k.zsh.j2
Due: none

fix: correct Docker service name for Kali Linux
  neosetup/roles/docker/tasks/main.yml
Due: ansible-lint

fix: support Podman as Docker backend on Kali Linux
  neosetup/roles/docker/tasks/main.yml
Due: ansible-lint

fix: skip Docker daemon config when using Podman
  neosetup/roles/docker/handlers/main.yml
  neosetup/roles/docker/tasks/main.yml
Due: ansible-lint

fix: prevent recursive alias, handle arguments, and support Kali tools
  neosetup/roles/shell/templates/shared/aliases.j2
  neosetup/roles/tools/tasks/install_tools_unified.yml
Due: ansible-lint

feat: add real-time installation progress tracking (#42)
  neosetup/Makefile
  neosetup/ansible.cfg
  neosetup/callback_plugins/matrix_progress.py
Due: pylint, bandit

fix: show task counters instead of misleading progress bars
  neosetup/callback_plugins/matrix_progress.py
Due: pylint, bandit

feat: pre-count tasks for accurate progress bar
  neosetup/callback_plugins/matrix_progress.py
Due: pylint, bandit

docs: update documentation accuracy and add 5 new operators
  CLAUDE.md
  README.md
  docs/README.md
  docs/architecture/operators.md
  docs/development/contributing.md
  docs/guides/configuration.md
  docs/guides/font-setup.md
  docs/guides/installation.md
  docs/guides/troubleshooting.md
Due: none
