Repository j1v37u2k3y/NeoSetup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, black, flake8, pylint, bandit, operator-validation

ansible-lint:
  name: ansible-lint
  entry: bash -c 'docker run --rm --entrypoint ansible-lint -v "$(pwd):/workspace" -w /workspace neosetup-precommit --profile=basic neosetup/'
  language: system
  pass_filenames: false

black:
  name: black
  entry: bash -c 'docker run --rm --entrypoint black -v "$(pwd):/workspace" -w /workspace neosetup-precommit --check --diff "$@"' --
  language: system

flake8:
  name: flake8
  entry: bash -c 'docker run --rm --entrypoint flake8 -v "$(pwd):/workspace" -w /workspace neosetup-precommit "$@"' --
  language: system

pylint:
  name: pylint
  entry: bash -c 'docker run --rm --entrypoint pylint -v "$(pwd):/workspace" -w /workspace neosetup-precommit "$@"' --
  language: system

bandit:
  name: bandit security scan
  entry: bash -c 'docker run --rm --entrypoint bandit -v "$(pwd):/workspace" -w /workspace neosetup-precommit -r "$@"' --
  language: system

operator-validation:
  name: NeoSetup operator validation
  entry: bash -c 'docker run --rm --entrypoint bash -v "$(pwd):/workspace" -w /workspace neosetup-precommit -c "cd neosetup && python3 scripts/validate_operator.py --all"'
  language: system
  pass_filenames: false

fix(ci): run verify-tool-installs in one container; map bat->batcat
  .github/scripts/test_binary_validation.py
  .github/workflows/container-tests.yml
Due: black, flake8, pylint, bandit

fix(tools): RHEL-family bootstrap so base tools install (EPEL + Fedora packaging)
  neosetup/roles/tools/tasks/install_tools_unified.yml
Due: ansible-lint

fix(ci): binary check searches /usr/games (cowsay/fortune/lolcat)
  .github/scripts/test_binary_validation.py
Due: black, flake8, pylint, bandit

fix(ci): map impacket to smbserver.py (its real installed script name)
  .github/scripts/test_binary_validation.py
Due: black, flake8, pylint, bandit

fix(tools): close the verify long-tail (gh/yq/tldr installers + honest skips)
  .github/scripts/test_binary_validation.py
  neosetup/roles/tools/tasks/custom_installs/github_binary_installer.yml
  neosetup/roles/tools/tasks/custom_installs/github_cli.yml
  neosetup/roles/tools/vars/tool_registry.yml
Due: ansible-lint, black, flake8, pylint, bandit

fix(ci): verify custom-installer tools instead of skipping them
  .github/scripts/test_binary_validation.py
Due: black, flake8, pylint, bandit

fix(tools): make github_binary_installer resilient to transient API/download blips
  neosetup/roles/tools/tasks/custom_installs/github_binary_installer.yml
Due: ansible-lint

ci(container): make verify-tool-installs a voting gate
  .github/workflows/container-tests.yml
  CLAUDE.md
Due: none

fix(tools): macOS install resilience + defer disabled bloodhound cask
  neosetup/roles/tools/tasks/install_tools_unified.yml
  neosetup/roles/tools/vars/tool_registry.yml
Due: ansible-lint

fix(tools): surface pipx install failures instead of swallowing them
  neosetup/roles/tools/tasks/install_tools_unified.yml
Due: ansible-lint

fix(ci): make binary verification cask-aware on macOS
  .github/scripts/test_binary_validation.py
Due: black, flake8, pylint, bandit

docs: correct the jiveturkey deferred-tools description in CLAUDE.md
  CLAUDE.md
Due: none

feat(tools): platform-scoped tool categories (offsec on Linux only)
  .github/scripts/test_binary_validation.py
  docs/architecture/composable-tool-sets.md
  neosetup/operators/jiveturkey/vars.yml
  neosetup/roles/tools/tasks/install_tools_unified.yml
  neosetup/schema/operator_schema.yml
Due: ansible-lint, black, flake8, pylint, bandit, operator-validation

ci(container-tests): add fast PR-time install+verify gate (#153)
  .github/workflows/container-tests.yml
Due: none

ci(container-tests): add macOS native install+verify lane (#153)
  .github/workflows/container-tests.yml
Due: none

ci(container-tests): fix macOS lane python interpreter for homebrew module
  .github/workflows/container-tests.yml
Due: none

ci: skip neofetch on macOS in verify (removed from Homebrew, #156)
  .github/scripts/test_binary_validation.py
Due: black, flake8, pylint, bandit

feat(tools): migrate system-info tool from neofetch to fastfetch (#156)
  .github/scripts/test_binary_validation.py
  neosetup/operators/jiveturkey/vars.yml
  neosetup/operators/matrix/vars.yml
  neosetup/roles/tools/tasks/configure_tools.yml
  neosetup/roles/tools/tasks/custom_installs/fastfetch_installer.yml
  neosetup/roles/tools/vars/tool_registry.yml
Due: ansible-lint, black, flake8, pylint, bandit, operator-validation

Path conditions:
  ansible-lint: any of: ^neosetup/.*\.(yaml|yml)$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  bandit: any of: \.py$
  operator-validation: any of: ^neosetup/operators/.*\.yml$
