Repository j1v37u2k3y/NeoSetup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, black, flake8, pylint, bandit, operator-validation

ansible-lint:
  name: ansible-lint
  entry: bash -c 'docker run --rm --entrypoint ansible-lint -v "$(pwd):/workspace" -w /workspace neosetup-precommit --profile=basic neosetup/'
  language: system
  pass_filenames: false

black:
  name: black
  entry: bash -c 'docker run --rm --entrypoint black -v "$(pwd):/workspace" -w /workspace neosetup-precommit --check --diff "$@"' --
  language: system

flake8:
  name: flake8
  entry: bash -c 'docker run --rm --entrypoint flake8 -v "$(pwd):/workspace" -w /workspace neosetup-precommit "$@"' --
  language: system

pylint:
  name: pylint
  entry: bash -c 'docker run --rm --entrypoint pylint -v "$(pwd):/workspace" -w /workspace neosetup-precommit "$@"' --
  language: system

bandit:
  name: bandit security scan
  entry: bash -c 'docker run --rm --entrypoint bandit -v "$(pwd):/workspace" -w /workspace neosetup-precommit -r "$@"' --
  language: system

operator-validation:
  name: NeoSetup operator validation
  entry: bash -c 'docker run --rm --entrypoint bash -v "$(pwd):/workspace" -w /workspace neosetup-precommit -c "cd neosetup && python3 scripts/validate_operator.py --all"'
  language: system
  pass_filenames: false

fix: define ls family as functions, not operator aliases
  neosetup/operators/base/vars.yml
  neosetup/operators/jiveturkey/vars.yml
  neosetup/roles/shell/templates/shared/aliases.j2
Due: ansible-lint, operator-validation

build: add semantic versioning with Commitizen
  .pre-commit-config.yaml
  CHANGELOG.md
  VERSION
  docs/archive/CHANGELOG-legacy.md
  neosetup/Makefile
  pyproject.toml
  requirements.txt
Due: none

chore: ignore OS cruft and bump LICENSE year to 2025-2026
  .gitignore
  LICENSE
Due: none

docs: add FAQ guide and link from READMEs
  README.md
  docs/README.md
  docs/guides/faq.md
Due: none

docs(contributing): document variable naming convention
  docs/development/contributing.md
Due: none

fix(tools): make nodejs_dev and go_dev operators install their toolchains
  neosetup/operators/go_dev/vars.yml
  neosetup/operators/nodejs_dev/vars.yml
  neosetup/roles/tools/tasks/custom_installs/go_installer.yml
  neosetup/roles/tools/tasks/custom_installs/nvm_installer.yml
  neosetup/roles/tools/vars/tool_registry.yml
Due: ansible-lint, operator-validation

feat(tools): add monitoring, git-stats, and log tools to jiveturkey
  neosetup/operators/jiveturkey/vars.yml
  neosetup/roles/tools/vars/tool_registry.yml
Due: ansible-lint, operator-validation

chore(release): bump version 2.0.0 → 2.1.0
  CHANGELOG.md
  VERSION
  pyproject.toml
Due: none

ci: raise Python floor to 3.12, pin ansible >=14.2,<15
  .github/workflows/ci.yml
  requirements.txt
Due: none

ci: bump flake8 pre-commit hook 6.0.0 -> 7.3.0 for Python 3.12
  .pre-commit-config.yaml
Due: none

ci: treat HTTP 429 as alive in markdown-link-check
  .github/markdown-link-check.json
Due: none

fix(docker): validate daemon.json and secure plugin installs
  neosetup/roles/docker/defaults/main.yml
  neosetup/roles/docker/tasks/configure_docker.yml
  neosetup/roles/docker/tasks/main.yml
  neosetup/roles/docker/templates/daemon.json.j2
Due: ansible-lint

ci: pin third-party actions, add least-privilege perms, converge on py3.12/ansible-14
  .github/scripts/generate_dockerfile.py
  .github/scripts/test_container.py
  .github/scripts/test_packages.py
  .github/scripts/test_performance.py
  .github/workflows/ci.yml
  .github/workflows/container-tests.yml
  .pre-commit-config.yaml
  Dockerfile.precommit
  develop
  neosetup/requirements-runtime.txt
  neosetup/tests/test_operator_validation.py
  pyproject.toml
  scripts/run-precommit.sh
  setup
Due: black, flake8, pylint, bandit

fix(tools): compose tools across the inheritance spine + fail loud on unregistered tools
  neosetup/group_vars/all/operators.yml
  neosetup/roles/tools/tasks/install_tools_unified.yml
  neosetup/roles/tools/vars/tool_registry.yml
  neosetup/schema/operator_schema.yml
Due: ansible-lint

fix(roles): clean up shell and tmux roles
  neosetup/roles/shell/tasks/archive/install_bash_it.yml
  neosetup/roles/shell/tasks/archive/install_oh_my_zsh.yml
  neosetup/roles/shell/tasks/configure_zsh.yml
  neosetup/roles/shell/tasks/install_shell_framework.yml
  neosetup/roles/shell/tasks/main.yml
  neosetup/roles/shell/templates/archive/bashrc.j2
  neosetup/roles/shell/templates/archive/zshrc.j2
  neosetup/roles/shell/templates/bashrc_unified.j2
  neosetup/roles/shell/templates/matrix_greeting.sh.j2
  neosetup/roles/shell/templates/shared/aliases.j2
  neosetup/roles/shell/templates/shared/functions.j2
  neosetup/roles/shell/templates/zshrc_unified.j2
  neosetup/roles/tmux/tasks/main.yml
  neosetup/roles/tmux/templates/archive/tmux.conf.j2
  neosetup/roles/tmux/templates/shared/key_bindings.j2
  neosetup/roles/tmux/templates/shared/status_bar.j2
  neosetup/roles/tmux/templates/tmux_unified.conf.j2
Due: ansible-lint

fix(schema): loosen paths pattern for real-world PATH entries
  neosetup/schema/operator_schema.yml
Due: ansible-lint

fix(tools): drop unsupported 'warn' param from powershell installer
  neosetup/roles/tools/tasks/custom_installs/powershell_core.yml
Due: ansible-lint

fix(validator): enforce full schema vocabulary and tool-registry membership
  neosetup/scripts/validate_operator.py
  neosetup/tests/test_operator_validation.py
Due: black, flake8, pylint, bandit

fix(validator): enforce full schema vocabulary + registry membership
  neosetup/scripts/validate_operator.py
  neosetup/tests/test_operator_validation.py
Due: black, flake8, pylint, bandit

docs: correct fictions across docs to match post-fix reality
  CLAUDE.md
  README.md
  TOOLS.md
  docs/README.md
  docs/architecture/benefits-of-operators.md
  docs/architecture/operators.md
  docs/development/contributing.md
  docs/development/operator-creation-guide.md
  docs/guides/configuration.md
  docs/guides/faq.md
  docs/guides/installation.md
  docs/guides/troubleshooting.md
Due: none

docs: spec composable tool sets + jiveturkey arsenal buildout
  docs/architecture/composable-tool-sets.md
Due: none

docs: lock tool-sets spec decisions (add offsec category)
  docs/architecture/composable-tool-sets.md
Due: none

feat(tools): composable tool_sets categories (Phase 1 — engine + schema)
  neosetup/roles/tools/tasks/install_tools_unified.yml
  neosetup/roles/tools/vars/tool_registry.yml
  neosetup/schema/operator_schema.yml
Due: ansible-lint

refactor(operators): remove dead tool-list blocks (single source of truth)
  neosetup/operators/base/vars.yml
  neosetup/operators/base/vars_anchors.yml
  neosetup/operators/jiveturkey/vars.yml
  neosetup/operators/matrix/vars.yml
  neosetup/operators/windows_wsl/vars.yml
  neosetup/roles/tools/defaults/main.yml
Due: ansible-lint, operator-validation

feat(tools): register security + offsec tool categories (Phase 3)
  neosetup/roles/tools/vars/tool_registry.yml
  neosetup/schema/operator_schema.yml
Due: ansible-lint

feat(jiveturkey): wire operator to the offsec tool category
  neosetup/operators/jiveturkey/vars.yml
Due: ansible-lint, operator-validation

feat(tools): cloud installers + cloud category (Phase 2)
  neosetup/roles/tools/tasks/custom_installs/azure_cli_installer.yml
  neosetup/roles/tools/tasks/custom_installs/helm_installer.yml
  neosetup/roles/tools/tasks/custom_installs/kubectl_installer.yml
  neosetup/roles/tools/tasks/custom_installs/terraform_installer.yml
  neosetup/roles/tools/vars/tool_registry.yml
  neosetup/schema/operator_schema.yml
Due: ansible-lint

test(ci): actually install + verify tools across the distro matrix (#77)
  .github/scripts/test_binary_validation.py
  .github/workflows/container-tests.yml
Due: black, flake8, pylint, bandit

fix(ci): satisfy pylint in test_binary_validation (with-open + fewer args)
  .github/scripts/test_binary_validation.py
Due: black, flake8, pylint, bandit

fix(ci): provide Python 3.12 in older-distro test containers (unblocks builds)
  docker/Dockerfile.almalinux-9
  docker/Dockerfile.centos-stream-9
  docker/Dockerfile.debian-12
  docker/Dockerfile.rocky-9
  docker/Dockerfile.ubuntu-22.04
Due: none

docs(ci): correct stale Ansible version in CI test summary
  .github/scripts/generate_test_summary.py
Due: black, flake8, pylint, bandit

fix(ci): make uv-managed Python usable by testuser in container tests
  docker/Dockerfile.almalinux-9
  docker/Dockerfile.centos-stream-9
  docker/Dockerfile.debian-12
  docker/Dockerfile.rocky-9
  docker/Dockerfile.ubuntu-22.04
Due: none

fix(dev): mark bind-mounted /workspace safe in Docker pre-commit runner
  scripts/run-precommit.sh
Due: none

fix(tools): stop the unified tools install from aborting mid-play
  neosetup/roles/tools/tasks/configure_tools.yml
  neosetup/roles/tools/tasks/configure_wsl.yml
  neosetup/roles/tools/tasks/custom_installs/go_installer.yml
  neosetup/roles/tools/tasks/custom_installs/nvm_installer.yml
  neosetup/roles/tools/tasks/custom_installs/poetry_installer.yml
  neosetup/roles/tools/tasks/custom_installs/pyenv_installer.yml
  neosetup/roles/tools/tasks/install_tools_unified.yml
Due: ansible-lint

ci(container): make verify-tool-installs non-voting and use the venv
  .github/workflows/container-tests.yml
Due: none

fix(tools): make custom installers resilient; fix act installer
  neosetup/roles/tools/tasks/custom_installs/act_installer.yml
  neosetup/roles/tools/tasks/install_tools_unified.yml
Due: ansible-lint

fix(tools): install eza/delta/lazygit/procs from GitHub releases
  neosetup/roles/tools/tasks/custom_installs/github_binary_installer.yml
  neosetup/roles/tools/vars/tool_registry.yml
Due: ansible-lint

fix(tools): install Python CLI tools via pipx, not into the ansible venv
  neosetup/roles/tools/tasks/install_tools_unified.yml
Due: ansible-lint

Path conditions:
  ansible-lint: any of: ^neosetup/.*\.(yaml|yml)$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  bandit: any of: \.py$
  operator-validation: any of: ^neosetup/operators/.*\.yml$
